head
    title canvas
    style
        include ../public/style.css
    body
        canvas(id=canvas_id)
        script !{code}
        script
            include ../../examples/gls01.js
        script
            include ../public/widget.js
